.scroll-bar {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar:focused {
    -fx-background-insets: 0;
}

.scroll-bar .corner {
    -fx-background-insets: 0;
}
.white {
    -fx-background-color: white;	
}
.grey {
    -fx-background-color: grey;	
}